Christopher Budhiawan <xtophb@gmail.com>
Emre Orhan <Emre.Orhan@gmx.at>
Sofija Sternad-Gugnjak <sofijasternad@outlook.com>
Alexander Dermutz <adgaming.dev@gmail.com>
Selina Prettner <prettnerseli@gmail.com>
Anna Pschernig <annpschernig@edu.aau.at>
Natasa Jeftic <natasajeftic6@gmail.com>